<h1>Show Exercise</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @exercise.name %>
  </li>

  <li>
    <strong>Repetition:</strong>
    <%= @exercise.repetition %>
  </li>

  <li>
    <strong>Interval:</strong>
    <%= @exercise.interval %>
  </li>

  <li>
    <strong>Cadence:</strong>
    <%= @exercise.cadence %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.exercise_path(@conn, :edit, @exercise) %></span> |
<span><%= link "Back", to: Routes.exercise_path(@conn, :index) %></span>
