<!DOCTYPE html>
<html ng-app>
    <head>
    <meta charset="utf-8">
        <title>Academy Break</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/style2.css" rel="stylesheet">
    </head>
    <body ng-controller="AppController">
        <div ng-show="config">
        <table align="center">
                <tbody>
                    <tr >
                        <td colspan="2">
                            <h2>Série</h2>
                        </td>
                        <td>
                            <div class="select-style">
                                <select ng-model="serie" ng-init="serie = 1">
                                    <option ng-repeat="n in n10" value="{{n}}" ng-selected="n == 1">{{(n < 10)?"0"+n:n}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h2>Descanso</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="select-style">
                                <select ng-model="nMinDescanso">
                                    <option ng-repeat="n in n60" value="{{n}}" ng-selected="n == 0">{{(n < 10)?"0"+n:n}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <h2>:</h2>
                        </td>
                        <td>
                            <div class="select-style">
                                <select ng-model="nSegDescanso" >
                                    <option ng-repeat="n in n60" value="{{n}}" ng-selected="n == 0">{{(n < 10)?"0"+n:n}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h2>Treino</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="select-style">
                                <select ng-model="nMinTreino">
                                    <option ng-repeat="n in n60" value="{{n}}" ng-selected="n == 0">{{(n < 10)?"0"+n:n}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <h2>:</h2>
                        </td>
                        <td>
                            <div class="select-style">
                                <select ng-model="nSegTreino">
                                    <option ng-repeat="n in n60" value="{{n}}" ng-selected="n == 0">{{(n < 10)?"0"+n:n}}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <button class="btn btn-primary btn-block btn-lg" ng-click="iniciar()">Iniciar</button>
        </div>
        <div ng-hide="config">
            <h1>Serie: {{serie}}</h1>
            <div class=" well well-sm relogio text-center">{{minutos}}:{{segundos}}</div>
            <hr>
                <button ng-click="iniciar()" class="btn btn-primary btn-lg btn-block" ng-hide="ocupado">Descansar</button>
                <div id="divAcao" ng-show="ocupado"><h1><b>{{acao}}</b></h1></div>
        </div>
        <script src="js/lib/jquery-1.11.0.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/ion.sound.min.js"></script>
        <script src="js/controllers/AppController.js"></script>
    </body>
</html>
